/* Firefox Quantum userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


@import "./noiaui_light_tabs_below_navigation_toolbar_fx65.css";


#TabsToolbar {
  min-height: 0 !important;
  height: calc(1px + var(--tab-min-height)) !important;
  max-height: unset !important;
}
