/* Firefox userChrome.css tweaks ****************************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


/* default tabs color v2 */
#TabsToolbar :is(.tabs-newtab-button,#tabs-newtab-button) .toolbarbutton-icon,
.tab-background {
  background-image: linear-gradient(#000000,#000000) !important;
}

/* selected & hovered tabs color v2 */
#TabsToolbar :is(.tabs-newtab-button,#tabs-newtab-button):hover .toolbarbutton-icon,
.tab-background[multiselected=true],
.tab-background[selected=true],
.tabbrowser-tab:hover .tab-background {
  background-image: linear-gradient(#000000,#000000,#000000,#444444,#838383) !important;
  color: #ffffff !important;
}

.tabbrowser-tab .tab-content[selected="true"] .tab-label,
:is(.tabs-newtab-button,#tabs-newtab-button):hover .tab-label,
.tabbrowser-tab:hover .tab-content:not([selected="true"]) .tab-label {
  color: #ffffff !important;
}
