/* Firefox Quantum userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


/* default tabs color v2 */
:-moz-any(.tabs-newtab-button,#tabs-newtab-button),
.tabbrowser-tab .tab-content {
  background-image: linear-gradient(#000000,#000000) !important;
}

/* selected & hovered tabs color v2 */
.tabbrowser-tab .tab-content[selected="true"],
:-moz-any(.tabs-newtab-button,#tabs-newtab-button):hover,
.tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(#000000,#000000,#000000,#444444,#838383) !important;
  color: #ffffff !important;
}

.tabbrowser-tab .tab-content[selected="true"] .tab-label,
:-moz-any(.tabs-newtab-button,#tabs-newtab-button):hover .tab-label,
.tabbrowser-tab:hover .tab-content:not([selected="true"]) .tab-label {
  color: #ffffff !important;
}
