/* Firefox userChrome.css tweaks ****************************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


/* separators between toolbars */
#toolbar-menubar {
  border-bottom: 1px solid #636363 !important;
}

#TabsToolbar,
#main-window:not([tabsintitlebar]) #nav-bar,
#nav-bar,
#Tabstoolbar {
  border-top: 1px solid #ababab !important;
  border-bottom: 1px solid #636363 !important;
}
#PersonalToolbar {
  border-top: 1px solid #ababab !important;
}
