/* Firefox userChrome.css tweaks ****************************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


@import url(./toolbar_buttons_base.css);

/* icons */
#tabs-newtab-button {
  list-style-image: url("./../images/newtab.png") !important;
}

#back-button {
  list-style-image: url("./../images/icons_fx3aero/back.png") !important;
}

#forward-button {
  list-style-image: url("./../images/icons_fx3aero/forward.png") !important;
}

#home-button {
  list-style-image: url("./../images/icons_fx3aero/home.png") !important;
}

#stop-button {
  list-style-image: url("./../images/icons_fx3aero/stop.png") !important;
}

#reload-button {
  list-style-image: url("./../images/icons_fx3aero/reload.png") !important;
}

#bookmarks-menu-button, #bookmarks-toolbar-placeholder {
  list-style-image: url("./../images/icons_fx3aero/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("./../images/icons_fx3aero/history.png") !important;
}

#add-ons-button, #unified-extensions-button {
  list-style-image: url("./../images/icons_fx3aero/addons.png") !important;
}

#open-file-button {
  list-style-image: url("./../images/icons_fx3aero/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("./../images/icons_fx3aero/savepage.png") !important;
}

#sync-button {
  list-style-image: url("./../images/icons_fx3aero/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("./../images/icons_fx3aero/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("./../images/icons_fx3aero/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("./../images/icons_fx3aero/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("./../images/icons_fx3aero/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("./../images/icons_fx3aero/find.png") !important;
}

#print-button {
  list-style-image: url("./../images/icons_fx3aero/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("./../images/icons_fx3aero/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("./../images/icons_fx3aero/developer.png") !important;
}

#preferences-button {
  list-style-image: url("./../images/icons_fx3aero/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("./../images/icons_fx3aero/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("./../images/icons_fx3aero/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("./../images/icons_fx3aero/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("./../images/icons_fx3aero/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("./../images/icons_fx3aero/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("./../images/icons_fx3aero/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("./../images/icons_fx3aero/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("./../images/icons_fx3aero/sidebar.png") !important;
}

#library-button {
  list-style-image: url("./../images/icons_fx3aero/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("./../images/icons_fx3aero/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("./../images/icons_fx3aero/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("./../images/icons_fx3aero/downloads.png") !important;
}

#downloads-button[attention="success"] #downloads-indicator-anchor {
  list-style-image: url("./../images/icons_fx3aero/downloads2.png") !important;
}

#downloads-button[progress] #downloads-indicator-anchor {
  list-style-image: url("./../images/icons_fx3aero/downloads3.png") !important;
}

#panic-button {
  list-style-image: url("./../images/icons_fx3aero/panic.png") !important;
}

#panic-button[open] {
  list-style-image: url("./../images/icons_fx3aero/panic2.png") !important;
}

#save-to-pocket-button {
  list-style-image: url("./../images/icons_fx3aero/savetopocket.png") !important;
}

#save-to-pocket-button[open] {
  list-style-image: url("./../images/icons_fx3aero/savetopocket2.png") !important;
}
