/* Firefox userChrome.css tweaks ****************************************************************/
/* Github: https://github.com/aris-t2/noiabuttons ***********************************************/
/************************************************************************************************/


@import url(./toolbar_buttons_base.css);

/* icons */
#tabs-newtab-button {
  list-style-image: url("./../images/newtab.png") !important;
}

#back-button {
  list-style-image: url("./../images/icons_noia/back.png") !important;
}

#forward-button {
  list-style-image: url("./../images/icons_noia/forward.png") !important;
}

#home-button {
  list-style-image: url("./../images/icons_noia/home.png") !important;
}

#stop-button {
  list-style-image: url("./../images/icons_noia/stop.png") !important;
}

#reload-button {
  list-style-image: url("./../images/icons_noia/reload.png") !important;
}

#bookmarks-menu-button, #bookmarks-toolbar-placeholder {
  list-style-image: url("./../images/icons_noia/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("./../images/icons_noia/history.png") !important;
}

#add-ons-button, #unified-extensions-button {
  list-style-image: url("./../images/icons_noia/addons.png") !important;
}

#open-file-button {
  list-style-image: url("./../images/icons_noia/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("./../images/icons_noia/savepage.png") !important;
}

#sync-button {
  list-style-image: url("./../images/icons_noia/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("./../images/icons_noia/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("./../images/icons_noia/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("./../images/icons_noia/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("./../images/icons_noia/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("./../images/icons_noia/find.png") !important;
}

#print-button {
  list-style-image: url("./../images/icons_noia/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("./../images/icons_noia/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("./../images/icons_noia/developer.png") !important;
}

#preferences-button {
  list-style-image: url("./../images/icons_noia/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("./../images/icons_noia/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("./../images/icons_noia/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("./../images/icons_noia/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("./../images/icons_noia/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("./../images/icons_noia/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("./../images/icons_noia/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("./../images/icons_noia/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("./../images/icons_noia/sidebar.png") !important;
}

#library-button {
  list-style-image: url("./../images/icons_noia/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("./../images/icons_noia/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("./../images/icons_noia/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("./../images/icons_noia/downloads.png") !important;
}

#downloads-button[attention="success"] #downloads-indicator-anchor {
  list-style-image: url("./../images/icons_noia/downloads2.png") !important;
}

#downloads-button[progress] #downloads-indicator-anchor {
  list-style-image: url("./../images/icons_noia/downloads3.png") !important;
}

#panic-button {
  list-style-image: url("./../images/icons_noia/panic.png") !important;
}

#panic-button[open] {
  list-style-image: url("./../images/icons_noia/panic2.png") !important;
}

#save-to-pocket-button {
  list-style-image: url("./../images/icons_noia/savetopocket.png") !important;
}

#save-to-pocket-button[open] {
  list-style-image: url("./../images/icons_noia/savetopocket2.png") !important;
}
